<!doctype html>
<html>

<head>
    <title>Viz Shell</title>
    <link rel="stylesheet" href="../static/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <div class="content section">
        <h1>Vizs</h1>
        <div id="vizs"></div>
    </div>

    <script src="../static/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="../static/node_modules/d3/dist/d3.js"></script>
    <script type="module" src="../static/main.js"></script>
    <script type="module" src="../static/matrix.js"></script>
</body>

</html>
